.App {
  text-align: center;
  background-color: #ebebeb;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #ffffff;

}

.navbar {
  height: 40px;
  width: 100%;
  border: 1px solid snow;
  background-color: midnightblue;
}

.brand {
  padding: 8px 15px !important;
  font-size: larger;
}
.navlink {
  color: white;
  text-decoration: auto;
  padding: 11px 15px;
  float: left;
}

.navlink.active {
  color:#61dafb
}